extends ../layout

block content
  h1(class="profile-title") Borrado de usuario

  p(class="confirmation-message") ¿Estás seguro de que quieres eliminar la cuenta?

  .cancel-button-container
    a(href='/myprofile/' class="cancel-button") No

  .confirmation-buttons
    form(action="/myprofile/borrar" method="POST")
      button(type="submit" class="confirm-button") Sí
