extends layout

block content
  header.main-header
    div.project-info
      h1 ExploreNYC360 
      hr.divider

    nav#nav.main-nav
      div.nav-links
        a.link-item(href="/airport") Vuelos
        a.link-item(href="/foto") Fotos
        a.link-item(href="/guia") blog
        a.link-item(href="/myprofile") Mi perfil
        a.link-item(href="/logout") Logout 
    button#button-menu.button-menu
      span
      span
      span

  main
    h3 Bienvenido #{locals.session && locals.session.name}

    section#seccion1(onclick="toggleSection('seccion1')")
    a(href="/foto")
          h2.card-title Lector de fotos
    p.card-description Saca una foto y traduce.


 

    section#seccion2(onclick="toggleSection('seccion2')") 
      h2.section-header Sección 2
      div#contenido-seccion2(style="display: none;")

  script(src="/js/main.js")
