extends layout

block content
  header.main-header
    div.project-info
      h1.main-title ExploreNYC360 
      hr.divider

    nav#nav.main-nav
      div.nav-links
        a.link-item(href="/airport") Vuelos
        a.link-item(href="/foto") Fotos
        a.link-item(href="/guia") blog
        a.link-item(href="/myprofile") Mi perfil
        a.link-item(href="/logout") Logout 
    button#button-menu.button-menu
      span
      span
      span

  main
    .card
      h2 Busqueda de vuelos
      p Encuentra las mejores ofertas para visitar Nueva york
      a(href='/airport') Ver más

    .card
      h2 Foto translator
      p Saca una foto y traduce el contenido
      a(href='/foto') Ver más

    .card
      h2 blog
      p Descubre los secretos de NYC para tu proximo viaje.
      a(href='/guia') Ver más


  script(src="/js/main.js")
