extends ../layout

block content
    h1.title Nueva Entrada de Blog
    if error
        h2= error
    form.formulario(action="/blog", method="post", enctype="multipart/form-data") 
        .form-group
            label(for="titulo") Título*
            input(type="text", name="titulo", id="titulo", class="input-field")
        .form-group
            label(for="contenido") Contenido*
            textarea(type="text", name="contenido", id="contenido", class="input-field") 
        .form-group
            label(for="categorias") Categoria*
                div
                    input(type="checkbox", name="categoria", value="atracciones") 
                    | Atracciones Turísticas
                div
                    input(type="checkbox", name="categoria", value="barrios") 
                    | Barrios de Nueva York
                div
                    input(type="checkbox", name="categoria", value="gastronomia") 
                    | Gastronomía Local
                div
                    input(type="checkbox", name="categoria", value="eventos") 
                    | Eventos Especiales
        .form-group
            label(for="categoriaMes") ¿En que estación del año te gustaria viajar? (Selecciona una lo puedes cambiar en cualquier momento)
            select(name="categoriaMes", id="categoriaMes", class="input-field")
                option(value="invierno") Invierno
                option(value="primavera") Primavera
                option(value="verano") Verano
                option(value="otonio") Otoño
        .form-group
            label(for="fotoSubir") Foto
            input(type="file", name="fotoSubir", id="fotoSubir", class="input-field")
            
        .form-group
            label(for="autor") Autor*
            input(type="text", name="autor", id="autor", class="input-field")

        .form-group
            input(type="submit", value="Crear", class="btn-primary")
            a(href='/blog', class="btn-secondary") Cancelar
