extends ../layout

block content
  header.main-header
    div.project-info
      h1.main-title ExploreNYC360 
      hr.divider

    nav#nav.main-nav
      div.nav-links
        a.link-item(href="/airport") Vuelos
        a.link-item(href="/foto") Fotos
        a.link-item(href="/guia") blog
        a.link-item(href="/myprofile") Mi perfil
        a.link-item(href="/logout") Logout 
    button#button-menu.button-menu
      span
      span
      span


  main
    .card
      h2.section-header Lector de fotos
            
      form.formulario(id="formulario", action="/", method="post", enctype="multipart/form-data")
        .form-group
          label(for="fotoSubir") Introduce una foto para traducir
          input(type="file", name="fotoSubir", id="fotoSubir", class="input-field", onchange="mostrarVistaPrevia(this)")
          img#vistaPrevia(style="display: none; max-width: 100%; max-height: 200px;")
        .form-group
          input(type="submit", value="Traducir", class="btn-primary")

        // Mostrar el resultado si está presente
        #resultado(style="display: none;")
          p#textoReconocido
          p#textoTraducido
  script(src="/js/fotos.js")
 
  

